*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}

body{
    min-width:1000px; 
    width: auto !important;  
    width:1000px;            
 }

:root {
    --apple-red: #dd13d3;
    --socials: #ff18f3;  
}

.main {
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(
                rgba(0,0,0,0.75),
                rgba(0,0,0,0.75)), 
                url(assets/rika.jpg);
    background-size:100%;
    background-repeat: no-repeat;
}

nav {
    background: rgba(0,0,0,0.50);
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 3%;
}

.logo a {
    color:whitesmoke;
    font-size: 4.3rem;
    text-decoration: none;
    cursor: pointer;
}

.logo a span {
    color: var(--apple-red);
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

nav ul li a:hover {
    color: var(--apple-red);
}


.content {
   position: absolute;
   top: 50%;
   left: 8%;
   transform: translateY(-50%);
   color: whitesmoke;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 5em;
    letter-spacing: 2px;
}

h3 {
    font-size: 2.4em;
}

h3 span {
    color: var(--apple-red);
    font-size: 1.2em;
}

.img-box {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 80px;
}

.img-box img {
    position: absolute;
    height: 110%;
    right: 0;
    bottom: 0;
    transition: right 1s;
}

.img-box:hover .hook {
    right: 50px;
}

.socials {
    position: absolute;
    top: 85%;
    left: 8%;
}

.socials a {
    text-decoration: none;
    color: var(--socials);
}

.socials a i {
    font-size: 3rem;
    padding: 5px 10px;
}
