*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}

:root {
    --apple-red: #dd13d3;
    --socials: #ff18f3;  
}

.main {
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(
                rgba(0,0,0,0.75),
                rgba(0,0,0,0.75)), 
                url(assets/rika.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

div .logo {
    position: relative;
}

.logo a {
    color:whitesmoke;
    font-size: 4.3rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.6s;
}

.logo a span {
    color: var(--apple-red);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 40px 100px;
    transition: 0.5s;
    z-index: 1000;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    position: relative;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    margin: 0 15px;
}

nav ul li a:hover {
    color: var(--apple-red);
}

nav.sticky {
    background: rgba(0,0,0,0.75);
    padding: 5px 100px;
}

.content {
   position: absolute;
   top: 50%;
   left: 8%;
   transform: translateY(-50%);
   color: whitesmoke;
}

.content h1 {
    font-size: 2em;
}

.content h2 {
    font-size: 5em;
    letter-spacing: 2px;
}

.content h3 {
    font-size: 2.4em;
}

.content h3 span {
    color: var(--apple-red);
    font-size: 1.2em;
}

.img-box {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 80px;
}

.img-box img {
    position: absolute;
    height: 110%;
    right: 0;
    bottom: 0;
    transition: right 1s;
}

.img-box:hover .hook {
    right: 50px;
}

.socials {
    position: absolute;
    top: 85%;
    left: 8%;
}

.socials a {
    text-decoration: none;
    color: var(--socials);
}

.socials a i {
    font-size: 3rem;
    padding: 5px 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: var(--apple-red);
}


/*Projects Section*/

.projects {
    height: 100vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
    url(assets/port-bg.png);
    background-size: cover;
    background-position: center;
    border: #dd13d3 solid; /*tempo-----------------remove later*/
}

.projects .contents {
    border: #dd13d3 solid; /*tempo-----------------remove later*/
    text-align: center;
    margin-top: 350px;
    width: 100%;
    border: 3px solid green;
    padding: 10px;
}

.projects a {
    text-decoration: none;
    font-size: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    letter-spacing: 5px;
}

@media (max-width: 858px) {
.img-box {
    display: none;
}
}